@model ProductListViewModel
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<div>
    
    <div style="">
        <a href="/product/index " class="nav-item btn btn-outline-info" style="width: max-content">All products</a>

        @foreach (var category in Model.Categories)
        {
            var css = "nav-item";
            if (category.CategoryId == Model.CurrentCategory)
            {
                css += " active";
            }
            <a href="/product/index?category=@category.CategoryId" class="@css btn btn-outline-success ">@category.CategoryName</a>
        }
    </div>
    <div>
        <div class="container">
            <div class="row">
                @foreach (var product in Model.Products)
                {
                    @if (product.UnitsInStock > 0)
                    {

                        <div class="col">
                            <div class="card-group">
                                <div class="card" style="width: 16rem !important; height: 14rem; display: block;">
                                    <div class="card-body">
                                        <h5 class="card-title">@product.ProductName</h5>
                                        <p class="card-text">
                                            Quantity per unit > @product.QuantityPerUnit<br>
                                            Unit price > @product.UnitPrice<br>
                                        </p>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <a class="btn btn-outline-success card-footer show-toast" data-toggle="modal" data-target="#exampleModal" asp-controller="Cart" asp-action="AddToCart" asp-route-productId="@product.ProductId">
                                        <i class="bi bi-cart-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>
